<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.google.jstestdriver.eclipse.ui"
            name="JavaScript">
      </category>
      <view
            category="com.google.jstestdriver.eclipse.ui"
            class="com.google.jstestdriver.eclipse.ui.views.JsTestDriverView"
            icon="icons/JsTestDriver.png"
            id="com.google.jstestdriver.eclipse.ui.views.JsTestDriverView"
            name="JsTestDriver">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.google.jstestdriver.eclipse.ui.views.JsTestDriverView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.google.jstestdriver.eclipse.ui.jsTestDriverViewContribution"
            targetID="com.google.jstestdriver.eclipse.ui.views.JsTestDriverView">
         <action
               class="com.google.jstestdriver.eclipse.ui.views.ServerStartStopViewActionDelegate"
               icon="icons/startServer.png"
               id="com.google.jstestdriver.eclipse.ui.serverStartStopAction"
               label="Start Server"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="Start Server">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.google.jstestdriver.eclipse.ui.launch.JsTestDriverLaunchConfigurationDelegate"
            id="com.google.jstestdriver.eclipse.ui.jstdTestDriverLaunchConfiguration"
            modes="run"
            name="Js Test Driver Test"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="com.google.jstestdriver.eclipse.ui.launch.JavascriptSourceLocator"
            id="com.google.jstestdriver.eclipse.ui.jstdSourceLocator"
            name="JsSourceLocator">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="com.google.jstestdriver.eclipse.ui.launch.JavascriptSourcePathComputer"
            id="com.google.jstestdriver.eclipse.ui.jstdSourcePathComputer">
      </sourcePathComputer>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceContainerTypes">
      <sourceContainerType
            class="com.google.jstestdriver.eclipse.ui.launch.JavascriptSourceContainer"
            id="com.google.jstestdriver.eclipse.ui.jstdSourceContainer"
            name="JavascriptSourceContainer">
      </sourceContainerType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.google.jstestdriver.eclipse.ui.jstdTestDriverLaunchConfiguration"
            icon="icons/JsTestDriver.png"
            id="com.google.jstestdriver.eclipse.ui.jsLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.google.jstestdriver.eclipse.ui.launch.JsTestDriverLaunchTabGroup"
            id="com.google.jstestdriver.eclipse.ui.jstdLaunchConfigurationTabGroup"
            type="com.google.jstestdriver.eclipse.ui.jstdTestDriverLaunchConfiguration">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.google.jstestdriver.eclipse.ui.launch.JsTestDriverLaunchShortcut"
            icon="icons/JsTestDriver.png"
            id="com.google.jstestdriver.eclipse.ui.jstdTestDriverLaunchShortcut"
            label="Js Test Driver Test"
            modes="run">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        operator="or">
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.js">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

</plugin>
