<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.wst.jsdt.ui.java"
            class="com.google.eclipse.javascript.jstestdriver.ui.view.JsTestDriverView"
            icon="icons/JsTestDriver.png"
            id="com.google.eclipse.javascript.jstestdriver.ui.view.JsTestDriverView"
            name="JsTestDriver">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.google.eclipse.javascript.jstestdriver.ui.jsTestDriverViewContribution"
            targetID="com.google.eclipse.javascript.jstestdriver.ui.view.JsTestDriverView">
         <action
               class="com.google.eclipse.javascript.jstestdriver.ui.view.actions.ServerStartStopViewActionDelegate"
               icon="icons/startServer.png"
               id="com.google.jstestdriver.eclipse.ui.serverStartStopAction"
               label="Start Server"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="Start Server">
         </action>
         <action
               class="com.google.eclipse.javascript.jstestdriver.ui.view.actions.FilterTestResultsActionDelegate"
               icon="icons/failures.gif"
               id="com.google.jstestdriver.eclipse.ui.filterTestResultsAction"
               label="Show Only Failures"
               menubarPath="results"
               style="toggle"
               toolbarPath="results"
               tooltip="Show only failures">
         </action>
         <action
               class="com.google.eclipse.javascript.jstestdriver.ui.view.actions.RerunLastLaunchActionDelegate"
               icon="icons/relaunch.gif"
               id="com.google.jstestdriver.eclipse.ui.rerunLastLaunchAction"
               label="Rerun last configuration"
               menubarPath="results"
               style="push"
               toolbarPath="results"
               tooltip="Rerun last configuration">
         </action>
         <action
               class="com.google.eclipse.javascript.jstestdriver.ui.view.actions.ResetBrowsersActionDelegate"
               icon="icons/icon-refresh.gif"
               id="com.google.jstestdriver.eclipse.ui.resetBrowsersAction"
               label="Reset Browsers"
               menubarPath="results"
               style="push"
               toolbarPath="results"
               tooltip="Reset Browsers">
         </action>
      </viewContribution>
   </extension>
   <extension
         id="com.google.eclipse.javascript.jstestdriver.ui.view.TestResultsPanel"
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.google.eclipse.javascript.jstestdriver.ui.launch.JsTestDriverLaunchConfigurationDelegate"
            delegateName="JsTD Test"
            id="com.google.eclipse.javascript.jstestdriver.ui.JstdTestDriverLaunchConfiguration"
            modes="run"
            name="Js Test Driver Test"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.google.eclipse.javascript.jstestdriver.ui.JstdTestDriverLaunchConfiguration"
            icon="icons/JsTestDriver.png"
            id="com.google.eclipse.javascript.jstestdriver.ui.jsLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.google.eclipse.javascript.jstestdriver.ui.launch.config.JsTestDriverLaunchTabGroup"
            id="com.google.eclipse.javascript.jstestdriver.ui.jstdLaunchConfigurationTabGroup"
            type="com.google.eclipse.javascript.jstestdriver.ui.JstdTestDriverLaunchConfiguration">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.google.eclipse.javascript.jstestdriver.ui.launch.JsTestDriverLaunchShortcut"
            icon="icons/JsTestDriver.png"
            id="com.google.eclipse.javascript.jstestdriver.ui.jstdTestDriverLaunchShortcut"
            label="Js Test Driver Test"
            modes="run">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <iterate
                        operator="or">
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.js">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.google.eclipse.javascript.jstestdriver.ui.prefs.WorkbenchPreferencePage"
            id="com.google.eclipse.javascript.jstestdriver.ui.jstdPreferencePage"
            name="JS Test Driver">
      </page>
   </extension>
   <extension
         point="com.google.eclipse.javascript.jstestdriver.core.jstdLaunchListener">
      <jstdLaunchListener
            class="com.google.eclipse.javascript.jstestdriver.ui.view.TestResultsLaunchListener">
      </jstdLaunchListener>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
   </extension>

</plugin>
